* {
    padding: 0;
    margin: 0;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: justify;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: white;
    font-size: 20px;
    font-family:cursive;
}

.links {
    display: flex;
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: rgb(62, 151, 173);
}

.links li {
    margin: 0 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-bar input{
    border: none;
    outline: none;
    padding: 8px;
    width: 200px;
}

.search-btn, .clear-btn {
    color: white;
    background: rgb(62, 151, 173);
    cursor: pointers;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 5px;
}

.home{
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.home-content {
    position: absolute;
    top:15%;
    left: 10%;
    background: rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    max-width: 40%;
    padding: 20px;
}

.home h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.home p{
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.book {
    border-radius: 5px;
    background:rgb(62, 151, 173);
    border-radius: 5px;
    border: none;
    color: white;
    padding:15px 30px;
    cursor: pointer;
}
